<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->
  <!--  sharedKey Column -->
  <ng-container matColumnDef="sharedKey">
    <th mat-header-cell *matHeaderCellDef> sharedKey</th>
    <td mat-cell *matCellDef="let element"> {{element.sharedKey}} </td>
  </ng-container>

  <!-- businessIdn Column-->
  <ng-container matColumnDef="businessId">
    <th mat-header-cell *matHeaderCellDef> businessId </th>
    <td mat-cell *matCellDef="let element"> {{element.businessId}} </td>
  </ng-container>

  <!-- email Column -->
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> email </th>
    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
  </ng-container>

  <!-- phone Column -->
  <ng-container matColumnDef="phone">
    <th mat-header-cell *matHeaderCellDef> phone </th>
    <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
  </ng-container>

  <!-- dateAdded Column -->
  <ng-container matColumnDef="dateAdded">
    <th mat-header-cell *matHeaderCellDef> dateAdded </th>
    <td mat-cell *matCellDef="let element"> {{element.dateAdded}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
